version: '3.8'

services:
  # Spring Boot application
  app:
    image : itechuw/rag-app:latest
    container_name : rag_app
    ports:
      - "8282:8080"
    environment:
      - DB_URL=${DB_URL}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - GEMINI_API_KEY=${GEMINI_API_KEY:-demoKey}
      - OLLAMA_BASE_URL=http://ollama:11434
      - OLLAMA_MODEL_NAME=llama3
      - LOCAL_AI_BASE_URL=http://localai:8080/v1
      - LOCAL_AI_MODEL_NAME=gpt-4

  # MariaDB database
#  mariadb:
#    image: mariadb:10.11.7
#    restart: always
#    environment:
#      - MARIADB_ROOT_PASSWORD=password
#      - MARIADB_DATABASE=openmrs
#    volumes:
#      - mariadb_data:/var/lib/mysql
#      - ./init-scripts:/docker-entrypoint-initdb.d
#    ports:
#      - "3307:3306"

  # Ollama service
  # ollama:
  #   image : itechuw/ollama:latest
  #   container_name : ollama_app
  #   ports:
  #     - "11434:11434"
  #   volumes:
  #     - ollama_data:/root/.ollama


#volumes:
  #mariadb_data:
  # ollama_data: